[hidden]{
    display: none !important;
 }

body {
    background-color: #061A40;
    margin:0px;
    font-family: sans-serif;
    
}

#workspace {
    display: flex;
    justify-content: space-between;
    height: 95vh;
    padding: 5px;
    
}

#workspace #report, #workspace #inputData {
    width: 50vw;
    margin: 15px;
}


h1 {
  text-align: center;
  margin: 0px;
  background-color: #003559;
  color: white;
  padding: 2px;
  user-select: none;
  padding: 10px;
}

h1:hover {
    cursor: pointer;
    background-color:#0072be;
}

th {
  text-align: left;
  font-size: larger;
}

#topbar button{
    width:100px;
    height:100%;
    background-color: transparent;
    border-color: transparent;
    color: white;
    cursor: pointer;
    
}

#topbar button:hover{
    border-bottom: 3px solid white;
}


#topbar {
    display: flex;   
    height: 50px;
    background-color: #003559;
    position: sticky;
    top: 0;
}

#trialBalance,#journalListing, #generalLedger {
    background-color: #061A40;
    width:100%;
    table-layout: auto;
}

th:not(#journals th, #coa th), td:not(#journals td, #coa td) {
    border: 1px solid;
    padding: 10px;
    background-color: white;
}

#journals, #coa {
    background-color: white;
    width:100%;
}

#coa {
    padding: 10px;
}

#jrlInfo {
    background-color: white;
    width:100%;
    padding: 10px;
}

.dates {
    background-color: white;
    padding: 10px;
}


#journals select, #journals input {
    width: 100%;
    height: 100%;
    padding: 0px;
}

#jrlNarration {
    width:40%;
}

input, select {
    font-family: sans-serif;
    font-size:medium;
}

#jrlTable {
    border: 10px solid white;
}

#workspace button {
    border-color: transparent;
    background-color: #003559;
    color: white;
    margin: 5px;
}

#workspace button:hover {
    background-color: #0072be;
    cursor: pointer;
}

#journals th, #journals td {
    padding: 3px;
}

#generalLedger tr .title {
    font-size: large;
    
}

#generalLedger tr .total {
    font-size: medium;
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 10px;
}